.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    font-size: 28px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf1f2;
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 50px auto;
    background-image: url(img/backgroud.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.button {
    padding: 20px 40px;
    margin: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 38px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.button:hover {
    background-color: #045417;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
    color: #080808;
}

#dice {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

#balance {
    font-size: 30px;
    margin: 30px;
    color: #010709;
    text-shadow: rgba(1, 1, 1, 1);
    font-weight:bold;
}

#timer {
    font-size: 80px;
    margin: 20px 0;
    color: #0e0d0d;
    text-shadow: rgba(0.5, 0.5, 0.5, 0.5);
    font-weight:bold;
}

#codeInput, #betAmountInput, #usernameInput {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    font-size: 36px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: border-color 0.3s; 
}

#codeInput:focus, #betAmountInput:focus, #usernameInput:focus {
    border-color: #007bff;
    outline: none;
}

#codeButton {
    margin-top: 10px;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

#leaderboard div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    font-size: 40px;
    transition: background-color 0.3s;
}

#leaderboard div:hover {
    background-color: #f8f9fa;
}


#leaderboard img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    margin-right: 10px; 
}
#code{
    font-size: 48px;
    font-weight: bold;
}
#codeInput,#betAmountInput, #usernameInput {
    width: 60%;
}
#logo{
    max-width: 100%;
    height: auto;
}
#chatBox {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}
#userInput {
    width: calc(100% - 120px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#sendButton {
    padding: 10px;
    background-color: #0aa1f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.message {
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
}
.bot {
    background-color: #d1e7dd;
    text-align: left;
    font-weight: bold;
}
.user {
    background-color: #0aa1f3;
    color: white;
    text-align: left;
}
.rankingLogo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}
@media (max-width: 600px) {
    body {
        font-size: 14px; 
        padding: 0px;
        position: relative;
        left:15%;
        max-width: none;
    }
    #code{
        font-size: 18px;
        font-weight: bold;
    }
    #betAmountInput, #usernameInput,  #codeInput{
        width: 55%;
    }
    #thongbao{
        scale: 40%;
    }
    #betBlack, #betRed{
        width: 30%;
    }

    .button {
        width: 100%; 
        padding: 12px; 
        font-size: 16px; 
    }

    #leaderboard div {
        font-size: 18px; 
        padding: 10px; 
    }
    #notificationModal {
        scale: 50%;
        position: static;

    }
}
